body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    background: brown;
    color: white;
}

.team {
    margin: 10px;
    text-align: center;
}

button
{
    background-color: brown;
    border-style: groove;
    color:white;
    font-size: x-small;
    border-radius: 5px;
}
h1 {
    font-size: larger;
}
.score-card {
    font-family: orbitron, digital-clock-font, math;
    font-size: 3rem;
    height: 25vh;
    background-color: black;
    margin-bottom: 5px;
}