body,p,div
{
    font-family: "Roboto", sans-serif;
    background-color: #1f2937;
    margin:0;
}

.main
{
    display: flex;
    flex-direction: column;
    justify-items: start;
    margin: 3rem;
    color:#ffffff;

}

.passOptions
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:20px;
    padding: 0;
}

#btn-generate
{
    margin-top:1.5rem;
    background-color: #11b981;
    border: 0;
    padding: 0.5rem;
    font-family: 'Roboto',sans-serif;
    font-size: medium;
    border-radius: 5px;
    color:#ffffff;
    margin-bottom: 20px;
}
.password{
    background-color: #27354a;
    border-radius: 5px;
    color:#11b981;
    margin:0;
    padding:10px 10px 10px 30px;
    display: inline;
}
#highlight{
    color:#11b981;
    display: block;
}

#passOptionOne, #passOptionTwo
{
    background-color: #27354a;
    display: inline;
    border-right: 2px solid #2f3e53;
    margin-right:10px;
    padding-right: 20px;
}
.material-symbols-rounded
{background-color: #27354a;
    border: none;
    color:#11b981;
}
.divider{
    border-bottom: 1px solid #2f3e53;
    margin: 10px 0;
}

span
{
    display: inline;
}

.messages{
    margin: 50px;
    color:#11b981;
    text-align: center;
}