body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container
{
    display: flex;
    margin:20px;
}
.book-cover
{
    box-shadow: 0 2px 5px lightgray;
    width: 300px;
}
.book-info
{
    margin:20px;
}
.title
{
    font-weight: bold;
}
.breadcrumb
{
    color: #565959;
}

a { color: #007185}